.container {
	background: url("../assets/img/manos-pintadas.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.navbar-nav  > li > a{
	color:#FFF!important;
}

.navbar-nav > li  > a:hover{
	color:#CCC!important;
}